<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
  </head>

  <body>
    <h1>Request to password change</h1>

    <p>Hello, {{ name }}</p>

    <p>
      You’ve received this message because someone attempted to initiate a password reset for your account on our site. Please click the button below to proceed with the password reset process.
    </p>

    <a
      href="{{ action_link }}"
      target="_blank"
      rel="noopener noreferrer"
    >
      <strong>Reset password</strong>
    </a>

    <p>If you did not request a password change, please disregard this email.</p>

    <hr/>

    <p>This link will expire in {{ expiration_time }} minutes.</p>
    <p>The exact expiration date and time is {{ exact_time }}</p>

    <hr/>

    <p>Thank you,</p>
    <p>Subsawwy Team</p>
  </body>
</html>
