<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
  </head>

  <body>
    <h1>Request to confirm address</h1>

    <p>Hello, {{ name }}</p>

    <p>
      You've received this message because your email was registered on our site.
      Click the button below to confirm it as your associated email for this account.
    </p>

    <a
      href="{{ action_link }}"
      target="_blank"
      rel="noopener noreferrer"
    >
      <strong>Confirm address</strong>
    </a>

    <p>If you didn’t ask to verify this address, you can ignore this email.</p>

    <hr/>

    <p>This link will expire in {{ expiration_time }} minutes.</p>
    <p>The exact expiration date and time is {{ exact_time }}</p>

    <hr/>

    <p>Thank you,</p>
    <p>Subsawwy Team</p>
  </body>
</html>